body {
    background: url('images/gradbg.jpg') no-repeat top left; /* Asegúrate de que la imagen esté en la carpeta correcta */
    background-size: cover; /* Esto asegura que la imagen cubra toda el área */
    color: #000;
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 5em;
    margin-bottom: 30px;
    color: red; /* Color rojo para el título "REFERENCES" */
}

/* Asegúrate de tener estas clases para los iconos */
.website {
    border-right: 5px solid blue;
    background: url('images/web.png') no-repeat right center;
    padding-right: 25px; /* Espacio para el icono */
}
.book {
    border-right: 5px solid red;
    background: url('images/llibres.png') no-repeat right center;
    padding-right: 25px; /* Espacio para el icono */
}
.article {
    border-right: 5px solid green;
    background: url('images/articles.png') no-repeat right center;
    padding-right: 25px; /* Espacio para el icono */
}
