body {
  background: #fff url('images/gradbg.jpg') top left repeat-x;
  color: #000;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1em;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 5em;
  margin-bottom: 30px;
  color: red; /* Color rojo para el título "REFERENCES" */
}
#references cite {
  margin: 1em 0 0 3em;
  text-indent: -3em;
  display: block;
  font-style: normal;
  font-size: 1.2em; /* Fuente ligeramente más grande */
}
/* Clases para iconos */
.website {
    border-right: 5px solid blue;
    background: url('images/web.png') no-repeat right center;
    padding-right: 25px; /* Espacio para el icono */
}
.book {
    border-right: 5px solid red;
    background: url('images/llibres.png') no-repeat right center;
    padding-right: 25px; /* Espacio para el icono */
}
.article {
    border-right: 5px solid green;
    background: url('images/articles.png') no-repeat right center;
    padding-right: 25px; /* Espacio para el icono */
}
